.kaufman {
    padding-bottom: 90px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color:#000000;
}

.section-title_theme_dark {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 90px auto 0;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0;
    width: 60%;
    z-index: 2;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.table_theme_dark_kaufman {
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: rgba(0,0,0,0.0);
    z-index: 1;
}

.table__cell_theme_dark {
    background-color: rgba(0,0,0,0.0);
}

.table__text_theme_dark {
    margin: 20px 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.table__heading_theme_dark {
    line-height: 1.15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.0);
}

 .kaufman__triangle {
    position: absolute;
    width: 877;
    height: 877px;
    right: -210px;
    background-size: contain;
    background-repeat: no-repeat;
} 